body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#background-image {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -5;
  filter:blur(5px) grayscale(40%) contrast(70%) brightness(80%);
  background-size: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes presentation-animation {
  0% {
    transform: rotate(-100deg) scale(0);
  }

  90% {
    transform: rotate(15deg) scale(1.1);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }

  /* 0% {
    transform: translateX(0px)
  }

  33% {
    transform: translateX(400px)
  }

  66% {
    transform: translateX(-200px)
  }

  100% {
    transform: translateX(0px)
  } */
}

@keyframes hide-presentation {
  0% {
    height: 100vh;
  }

  100% {
    height: 22vh;
  }
}

@keyframes background-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes stories-animation {
  0% {
    margin-top: 400px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes down-prompt-display {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes down-prompt-animation {
  0% {
    margin-top: -12px;
  }

  50% {
    margin-top: 0px;
  }

  100% {
    margin-top: -12px;
  }
}

@keyframes stories-scroll {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-400px);
  }
}

/*Header*/
#header-container {
  width: 100%;
  height: auto;
  display: grid;
  place-content: center;
  background: linear-gradient(90deg, rgba(179, 202, 235, 0.877), rgba(149, 171, 204, 0.863));
  /* background-color: rgba(240, 129, 121, 0.699); */
  /* background-color: rgba(175, 45, 45, 0.432); */
  /* background-color: rgba(255, 255, 255, 0.719); */
}

#header-logo {
  width: auto;
  scale: 0.93;
  margin-bottom: -22px;
  margin-top: -6px;
  place-self: center;
  /* animation: down-prompt-animation 1s ease-out infinite; */
  height: 210px;
  width: 1415px;
  object-fit:cover;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

#main-menu-options {
  display: flex;
  gap: 0px;
  place-content: center;
  margin-left: -40px;
  margin-bottom: 0;
}

.menu-item {
  font-size: 21px;
  font-weight: 400;
  /* color: rgb(255, 255, 255); */
  color: rgba(254,254,234);
  cursor: pointer;
  /* background-color: rgba(201, 39, 39, 0.747); */
  background-color: rgb(175, 45, 45);
  max-width: 350px;
  padding: 0 15px 3px 15px;
  text-align: center;
  border: 1.5px solid rgba(0, 0, 0, 0.575);
  border-radius: 5px;
}

#futbol-nacional-options,
#futbot-internacional-options,
#competiciones-europeas-options,
#competiciones-internacionales-options,
#historia-de-los-mundiales-options {
  position: absolute;
  border-radius: 10px;
  background-color: rgb(175, 45, 45);
  width: 230px;
  padding: 5px 20px 10px 20px;
  font-size: 20px;
  /* color: white; */
  color: rgba(254,254,234);
  z-index: 2;
}

#futbol-nacional-options:hover,
#futbot-internacional-options:hover,
#competiciones-europeas-options:hover,
#competiciones-internacionales-options:hover,
#historia-de-los-mundiales-options:hover,
.menu-item:hover {
  /* background-color: rgb(218, 25, 25); */
  /* background-color: rgba(218, 25, 25, 0.85); */
  background-color: rgba(226, 59, 59, 0.986);
}

.submenu-option {
  cursor: pointer;
  border-radius: 5px;
}

.submenu-option:hover {
  /* background-color: rgb(73, 11, 11); */
  background-color: rgba(97, 55, 55, 0.65);
}

/*Main Page*/
#presentation-content {
  background: linear-gradient(90deg, rgba(119, 175, 207, 0.815), rgba(95, 183, 209, 0.788));
  /* background-color: rgba(240, 129, 121, 0.699); */
  /* background-color: rgba(175, 45, 45, 0.623); */
  /* background-color: rgba(255, 255, 255, 0.363); */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  place-content: center;
}

#logo-presentation {
  /* animation: presentation-animation 0.8s cubic-bezier(0.5, 0.4, 0.35, 1.15) 1; */
  scale: 0.93;
  height: 210px;
  width: 1415px;
  object-fit:cover;
}

#background-div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.795);
  /* background-color: rgba(255, 255, 255, 0.582); */
  z-index: -1;
}

#main-stories {
  display: flex;
  place-content: center;
  padding-top: 50px;
}

#main-stories-container {
  place-self: center;
  /* animation: stories-animation 1s linear 1; */
}

#stories-scroll-container {
  display: flex;
  width: 960px;
  overflow: hidden;
  place-content: start;
  place-self: center;
  overflow: scroll;
}

#stories-scroll-container::-webkit-scrollbar {
  display: none;
}

.main-story {
  display: block;
  width: 400px;
  height: 500px;
  padding: 10px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.87), rgba(216, 216, 216, 0.267));
  cursor: pointer;
  border-right: 1px solid rgba(0, 0, 0, 0.281);
}

.main-story:hover {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.966), rgba(216, 216, 216, 0.459));
}

.story-thumbnail {
  margin-bottom: -20px;
  width: 300px;
  align-self: center;
  height: 300px;
  object-fit: cover;
}

#title-heading-container {
  height: 200px;
  display: grid;
}

.story-title {
  font-size: 22px;
  margin-bottom: -30px;
}

.story-heading {
  font-size: 18px;
  margin-top: auto;
  margin-bottom: -15px;
}

#stories-scroll-left,
#stories-scroll-right {
  /* animation: stories-animation 1s linear 1; */
  width: 100px;
  height: 390px;
  max-height: 500px;
  font-size: 100px;
  place-self: center;
  color: rgba(255, 255, 255, 0.726);
  padding: 80px 0px 50px 0px;
  cursor: pointer;
  text-align: center;
  opacity: 0.5;
}

#stories-scroll-left {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.13), rgba(31, 31, 31, 0.589));
}

#stories-scroll-right {
  background: linear-gradient(90deg, rgba(31, 31, 31, 0.589), rgba(0, 0, 0, 0.13));
}

#stories-scroll-left:hover,
#stories-scroll-right:hover {
  opacity: 1;
}

#down-prompt-container {
  width: 100px;
  height: 100px;
  place-self: center;
  border-radius: 100%;
  cursor: pointer;
  margin-top: 20px;
  background-color: rgba(209, 196, 196, 0.589);
}

#down-prompt {
  margin: -10px 10px 20px -2px;
  transform: rotate(270deg);
  font-size: 70px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
  animation: down-prompt-animation 1s ease-out infinite;
  color: rgb(29, 28, 28);
}

#popular-stories-container {
  display: grid;
  place-content: center;
  width: 100%;
  height: auto;
  gap: 20px;
}

.popular-story-container {
  width: 800px;
  height: auto;
  display: grid;
  place-content: center;
  place-items: center;
  padding: 30px;
  background-color: rgba(98, 191, 207, 0.788);
  cursor: pointer;
  border-radius: 10px;
}

.popular-story-thumbnail {
  width: 400px;
  height: auto;
}

.popular-story-title {
  
}

.popular-story-heading {
  
}

/*New Post*/
#new-post-container {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  justify-content: center;
}

#new-post-back {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 200px;
  height: 40px;
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
  border: 0;
  background:radial-gradient(circle, rgba(255, 255, 255, 0.719), rgba(255, 255, 255, 0.178));
  /* background-color: rgba(194, 194, 94, 0.685); */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  transition: 0.3s;
  border-radius: 50px;
  text-shadow: 1px 1px black;
}

#new-post-back:hover {
  transform: scale(1.08);
  transition: 0.3s;
}

#new-post-back div {
  transform: rotate(180deg);
  text-shadow: -1px -1px black;
}

#new-post-h1 {
  /* color: white; */
  color: black;
  font-size: 50px;
  margin-top: 40px;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: black; */
  -webkit-text-stroke-color: white;
}

#new-post-form {
  display: grid;
  gap: 10px;
  width: 50vw;
  height: auto;
  border-radius: 10px;
  padding: 50px;
  /* background: radial-gradient(circle, rgba(93, 161, 141, 0.89), rgba(137, 173, 199, 0.863)); */
  /* background-color: rgba(175, 45, 45, 0.493); */
  /* background-color: rgba(243, 155, 148, 0.568); */
  background: radial-gradient(circle, rgba(157, 230, 217, 0.692), rgba(156, 195, 221, 0.692));
  margin-bottom: 100px;
}

.new-post-label {
  width: auto;
  color: white;
  font-size: 30px;
}

.new-post-input {
  width: 1000%;
  max-width: 100%;
  height: 1.5rem;
  font-size: 20px;
}

#new-post-heading {
  width: 100%;
  max-width: 100%;
  height: 5em;
  font-size: 20px;
}

#new-post-content {
  width: 100%;
  max-width: 100%;
  min-height: 20rem;
  font-size: 20px;
}

#new-post-content-div {
  width: 100%;
  max-width: 100%;
  min-height: 20rem;
  font-size: 20px;
  background-color: white;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 2px;
}

#format-options {
  width: 80px;
  height: 300px;
  position: absolute;
  top: 500px;
  left: 100px;
  background-color: white;
}

.format-option {
  cursor: pointer;
}

#new-post-image {
  width: 25%;
}

#tags-select {
  height: 30px;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 8px;
}

#tag-elements-container {
  width: 100%;
  height: auto;
  min-height: 1.8rem;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
}

.tag-element {
  width: auto;
  min-width: 50px;
  height: auto;
  border-radius: 50px;
  padding: 1px 0px 5px 8px;
  background-color: rgba(107, 218, 226, 0.815);
  /* background-color: rgba(235, 235, 35, 0.562); */
}

.tag-element span {
  margin-left: 5px;
  border-radius: 50px;
  background-color: rgba(60, 166, 207, 0.747);
  /* background-color: rgba(235, 235, 35, 0.945); */
  padding: 0px 10px 5px 10px;
  cursor: pointer;
}

textarea {
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

#add-tag-button {
  width: 150px;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  margin-top: 8px;
  background-color: rgba(111, 173, 116, 0.644);
  border: 1px solid rgba(85, 85, 85, 0.808);
  border-radius: 3px;
}

#add-tag-button:hover {
  background-color: rgba(123, 185, 132, 0.445);
}

#new-tag-input {
  height: 25px;
  margin-top: 8px;
  width: 250px;
}

#add-tag-confirm {
  width: 40px;
  border-radius: 500px;
  border: 0;
  font-size: 20px;
  color: green;
  font-weight: 900;
  background-color: rgba(159, 231, 159, 0.836);
  cursor: pointer;
}

#new-post-buttons {
  display: flex;
  gap: 120px;
  place-content: center;
  margin-top: -70px;
  margin-bottom: 70px;
  margin-left: 0px;
}

#new-post-buttons button {
  width: 400px;
  height: 70px;
  font-size: 50px;
  cursor: pointer;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.651), rgba(110, 110, 110, 0.329));
  border: 0;
  color: rgba(245, 245, 245, 0.664);
  text-shadow: 1px 1px black;
  font-weight: 900;
  border-radius: 20px;
}

#new-post-cancel:hover {
  background: linear-gradient(180deg, rgba(255, 88, 88, 0.726), rgba(250, 171, 171, 0.74));
  color: rgba(245, 245, 245, 0.87);
}

#new-post-submit:hover {
  background: linear-gradient(180deg, rgb(60, 211, 85), rgba(103, 153, 107, 0.425));
  /* background-color: rgba(235, 235, 35, 0.863); */
  color: rgba(245, 245, 245, 0.87);
}

#post-result-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.514);
}

#result-container {
  width: 500px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.932);
  border-radius: 10px;
  display: grid;
  place-content: center;
}

#post-result-message {
  text-align: center;
  font-size: 25px;
  margin-top: -10px;
}

#post-result-image {
  width: 250px;
  height: auto;
  place-self: center;
}

#result-confirm {
  width: 100px;
  height: 40px;
  place-self: center;
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(76, 156, 248);
  border-radius: 5px;
  margin-top: 40px;
}

/*Post Page*/
#post-page-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

#post-container {
  width: 50%;
  height: auto;
  display: grid;
  place-items: center;
  place-self: center;
  /* background-color: rgba(179, 191, 207, 0.904); */
  /* background-color: rgba(243, 155, 148, 0.568); */
  background: radial-gradient(circle, rgba(179, 193, 212, 0.918), rgba(145, 164, 190, 0.925));
  /* background: radial-gradient(circle, rgba(126, 160, 170, 0.795), rgba(161, 201, 182, 0.527)); */
  padding: 0px 30px 20px 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}

#post-title {
  font-size: 35px;
  text-align: center;
  color: rgba(43, 42, 42, 0.959);
  /* text-shadow: 10px 10px rgba(128, 128, 128, 0.692); */
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 0.5px;
  /* -webkit-text-stroke-color: black; */
  -webkit-text-stroke-color: rgb(77, 77, 77);
}

#post-thumbnail {
  max-height: 350px;
}

#post-author,
#post-date, 
#post-imgDesc,
#post-imgCred {
  color: rgb(22, 22, 22);
}

#post-heading {
  color: rgb(46, 46, 46);
  font-weight: 700;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-self: start;
}

.post-tag {
  color: rgb(46, 76, 172);
  cursor: pointer;
  margin-left: 5px;
}

.post-tag:hover {
  color: rgb(20, 34, 73);
  text-decoration: underline;
}

#post-content {
  color: rgb(15, 15, 15);
  font-size: 18px;
  font-weight: 400;
}

/*Tags Page*/

#tag-posts-container {
  width: 100%;
  display: grid;
  place-content: center;
  margin-top: 20px;
}

#tag-posts-container h2 {
  text-align: center;
  justify-self: center;
  align-self: center;
  place-self: center;
}

.post-tag-container {
  width: 500px;
  height: 350px;
  display: grid;
  padding: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  align-items: center;
  place-items: center;
  border-radius: 10px;
  background-color: rgba(150, 120, 76, 0.767);
}

.post-tag-thumbnail {
  width: auto;
  height: 200px;
}

.post-tag-title {

}

.post-tag-heading {

}