body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#background-image {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
  filter:blur(5px) grayscale(40%) contrast(70%) brightness(80%);
  background-size: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes presentation-animation {
  0% {
    transform: rotate(-100deg) scale(0);
  }

  90% {
    transform: rotate(15deg) scale(1.1);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes hide-presentation {
  0% {
    height: 100vh;
  }

  100% {
    height: 20vh;
  }
}

@keyframes background-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes stories-animation {
  0% {
    margin-top: 400px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes down-prompt-display {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes down-prompt-animation {
  0% {
    margin-top: -12px;
  }

  50% {
    margin-top: 0px;
  }

  100% {
    margin-top: -12px;
  }
}

/*Header*/
#header-container {
  width: 100%;
  height: auto;
  display: grid;
  place-content: center;
  background: linear-gradient(90deg, rgba(119, 175, 207, 0.815), rgba(62, 132, 153, 0.788));
}

#header-logo {
  width: auto;
  scale: 0.93;
  margin-bottom: -22px;
  margin-top: -6px;
  place-self: center;
}

ul {
  list-style-type: none;
}

#main-menu-options {
  display: flex;
  gap: 0px;
  place-content: center;
  margin-left: -40px;
  margin-bottom: 0;
}

.menu-item {
  font-size: 22px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgba(201, 39, 39, 0.747);
  max-width: 350px;
  padding: 0 15px 3px 15px;
  text-align: center;
  border: 1.5px solid rgba(0, 0, 0, 0.575);
  border-radius: 5px;
}

#futbol-nacional-options,
#futbot-internacional-options,
#competiciones-europeas-options,
#competiciones-internacionales-options,
#historia-de-los-mundiales-options {
  position: absolute;
  border-radius: 10px;
  background-color: rgb(175, 45, 45);
  width: 220px;
  padding: 5px 20px 10px 20px;
  font-size: 20px;
  color: white;
}

.submenu-option {
  cursor: pointer;
  border-radius: 5px;
}

.submenu-option:hover {
  background-color: rgb(73, 11, 11);
}

/*Main Page*/
#presentation-content {
  background: linear-gradient(90deg, rgba(119, 175, 207, 0.815), rgba(62, 132, 153, 0.788));
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  place-content: center;
}

#logo-presentation {
  animation: presentation-animation 0.8s cubic-bezier(0.5, 0.4, 0.35, 1.15) 1;
  scale: 0.93;
}

#main-stories {
  display: flex;
  width: 100%;
  place-content: center;
  gap: 5px;
  padding-top: 50px;
}

.main-story {
  display: block;
  width: 300px;
  height: auto;
  padding: 10px;
  background-color: rgba(196, 183, 183, 0.726);
  animation: stories-animation 1.2s linear 1;
  cursor: pointer;
}

.story-thumbnail {
  width: 300px;
  height: auto;
}

.story-title {
  font-size: 20px;
}

#down-prompt-container {
  width: 100px;
  height: 100px;
  place-self: center;
  border-radius: 100%;
  cursor: pointer;
  margin-top: 70px;
  background-color: rgba(209, 196, 196, 0.589);
}

#down-prompt {
  margin: -10px 10px 20px -2px;
  transform: rotate(270deg);
  font-size: 70px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 900;
  animation: down-prompt-animation 1s ease-out infinite;
  color: rgb(29, 28, 28);
}

/*New Post*/
#new-post-container {
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  justify-content: center;
}

#new-post-back {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 200px;
  height: 40px;
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
  border: 0;
  background:radial-gradient(circle, rgba(255, 255, 255, 0.719), rgba(255, 255, 255, 0.178));
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  transition: 0.3s;
  border-radius: 50px;
  text-shadow: 1px 1px black;
}

#new-post-back:hover {
  transform: scale(1.08);
  transition: 0.3s;
}

#new-post-back div {
  transform: rotate(180deg);
  text-shadow: -1px -1px black;
}

#new-post-h1 {
  color: white;
  font-size: 50px;
  margin-top: 40px;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#new-post-form {
  display: grid;
  gap: 10px;
  width: 50vw;
  height: auto;
  border-radius: 10px;
  padding: 50px;
  background: radial-gradient(circle, rgba(93, 161, 141, 0.89), rgba(137, 173, 199, 0.863));
  margin-bottom: 100px;
}

.new-post-label {
  width: auto;
  color: white;
  font-size: 30px;
}

.new-post-input {
  width: 1000%;
  max-width: 100%;
  height: 1.5rem;
  font-size: 20px;
}

#new-post-heading {
  width: 100%;
  max-width: 100%;
  height: 5em;
  font-size: 20px;
}

#new-post-content {
  width: 100%;
  max-width: 100%;
  min-height: 20rem;
  font-size: 20px;
}

#new-post-image {
  width: 25%;
}

#tags-select {
  height: 30px;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 8px;
}

#tag-elements-container {
  width: 100%;
  height: auto;
  min-height: 1.8rem;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
}

.tag-element {
  width: auto;
  min-width: 50px;
  height: auto;
  border-radius: 50px;
  padding: 1px 0px 5px 8px;
  background-color: rgba(107, 218, 226, 0.815);
}

.tag-element span {
  margin-left: 5px;
  border-radius: 50px;
  background-color: rgba(60, 166, 207, 0.747);
  padding: 0px 10px 5px 10px;
  cursor: pointer;
}

textarea {
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

#add-tag-button {
  width: 150px;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  margin-top: 8px;
  background-color: rgba(156, 241, 163, 0.212);
  border: 1px solid rgba(85, 85, 85, 0.808);
  border-radius: 3px;
}

#new-tag-input {
  height: 25px;
  margin-top: 8px;
  width: 250px;
}

#add-tag-confirm {
  width: 40px;
  border-radius: 500px;
  border: 0;
  font-size: 20px;
  color: green;
  font-weight: 900;
  background-color: rgba(159, 231, 159, 0.836);
  cursor: pointer;
}

#new-post-buttons {
  display: flex;
  gap: 120px;
  place-content: center;
  margin-top: -70px;
  margin-bottom: 70px;
}

#new-post-buttons button {
  width: 400px;
  height: 70px;
  font-size: 50px;
  cursor: pointer;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.651), rgba(110, 110, 110, 0.329));
  border: 0;
  color: rgba(245, 245, 245, 0.664);
  text-shadow: 1px 1px black;
  font-weight: 900;
  border-radius: 20px;
}

#new-post-cancel:hover {
  background: linear-gradient(180deg, rgba(255, 88, 88, 0.726), rgba(250, 171, 171, 0.74));
  color: rgba(245, 245, 245, 0.87);
}

#new-post-submit:hover {
  background: linear-gradient(180deg, rgb(60, 211, 85), rgba(103, 153, 107, 0.425));
  color: rgba(245, 245, 245, 0.87);
}